# Build results
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

# Logs
*.log

# Visual Studio Code
.vscode/

# Rider
.idea/
*.sln.iml

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# DotNet CLI
*.dotnettools

# Coverage
coverage/
*.coverage
*.coveragexml
*.opencover.xml

# Others
*.vs/
*.DS_Store
Thumbs.db